<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
  <!-- <script src="./node_modules/chart.js/dist/Chart.js"></script> -->
    <!-- <script src="/home/vr/BigBench2-easy-deploy/A-Bench-Dashboard/static/Chart.min.js"></script> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_charts.css') }}">
</head>

<body>
  <center>
    <h2>{{ title }}</h2>
  </center>

  <center>
    <canvas id="chart" width="1200" height="600"></canvas>
    <script>
      // bar chart data
      var barData = {
        labels : [
          {% for item in labels %}
           "{{ item }}",
          {% endfor %}
	],
        datasets : [{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          data : [
            {% for item in values %}
               "{{ item }}",
              {% endfor %}
	    ]
          }
        ]
      }
     // get bar chart canvas
     var mychart = document.getElementById("chart").getContext("2d");
       steps = 20
       max = {{max}}
     // draw bar chart
     new Chart(mychart).Bar(barData, {
       scaleOverride: true,
       scaleSteps: steps,
       scaleStepWidth: Math.ceil(max / steps),
       scaleStartValue: 0,
       scaleShowVerticalLines: true,
       scaleShowGridLines : true,
       barShowStroke : true,
       scaleShowLabels: true
       }
     );
    </script>
  </center>
  <center>
    <div class="btn-primary">
      <button id="home" class="button" onclick="self.location.href='http://127.0.0.1:5000/'">Homepage</button>
      <button id="home" class="button" onclick="self.location.href='http://127.0.0.1:5000/barMemoryUsage'">Memory Usage Chart</button>
      <button id="home" class="button" onclick="self.location.href='http://127.0.0.1:5000/barFilesystemUsage'">Filesystem Usage Chart</button>
    </div>
  </center>
</body>

</html>
