<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.0"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_charts.css') }}">
</head>

<body>
  <center>

    <canvas id="fileChart" width="250" height="100"></canvas>
    <script>
    var fileCanvas = document.getElementById("fileChart");
    steps = 10
    max = {{max}}

    Chart.defaults.global.defaultFontFamily = "Lato";
    Chart.defaults.global.defaultFontSize = 12;

    var fileData = {
      labels: [{% for item in labels %}
       "{{ item }}",
      {% endfor %}],
      datasets: [{
        fillColor: "rgba(135, 217, 153, 1)",
        label: "Filesystem Load",
        data: [{% for item in values %}
           "{{ item }}",
          {% endfor %}],
          // lineTension: 0,
        // fill: 'rgba(135, 217, 153, 1)]',
        // fill: false,
        borderColor: 'rgba(58, 166, 82, 1)',
        backgroundColor: 'rgba(135, 217, 153, 1)',
        pointBorderColor: 'rgba(57, 162, 80, 1)',
        // pointBackgroundColor: 'rgba(255,150,0,0.5)',
        pointRadius: 5,
        pointHoverRadius: 10,
        pointHitRadius: 20,
        pointBorderWidth: 2,
        pointStyle: 'rectRounded'
      }]
    };

    var chartOptions = {
      legend: {
        display: true,
        position: 'top',
        labels: {
          boxWidth: 20,
          fontColor: 'black'
        }
      },
      scales: {
        yAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'Filesystem Load',
            fontSize: 20,
            fontFamily: 'Lato'
          }
        }],
        xAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'Time',
            fontSize: 20,
            fontFamily: 'Lato'
          }
        }]
        }
    };

    var lineChart = new Chart(fileCanvas, {
      zoomEnabled: true,
      type: 'line',
      data: fileData,
      options: chartOptions,
      plugins: {
						zoom: {
							pan: {
								enabled: true,
								mode: 'xy'
							},
							zoom: {
								enabled: true,
								mode: 'xy'
							},
              responsive: true
						}
					}
    });
    </script>
  </center>

  <center>
    <br>
    <button id="reset_zoom">
    Reset zoom
    </button>

    <button id="disable_zoom">
        Disable zoom
    </button>

    <button id="enable_zoom">
        Enable zoom
    </button>
    <br>
    <div class="btn-primary">
      <button id="home" class="button" onclick="self.location.href='http://127.0.0.1:5000/'">Homepage</button>
      <button id="memChart" class="button" onclick="self.location.href='http://127.0.0.1:5000/memChart'">Memory Usage Chart</button>
      <button id="cpuChart" class="button" onclick="self.location.href='http://127.0.0.1:5000/cpuChart'">CPU Usage Chart</button>
    </div>
  </center>
</body>

</html>
