<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js'></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_charts.css') }}">
</head>

<body>
  <center>

    <canvas id="fileChart" width="250" height="100"></canvas>
    <script>
    var fileCanvas = document.getElementById("fileChart");
    steps = 10
    // max = {{max}}

    Chart.defaults.global.defaultFontFamily = "Lato";
    Chart.defaults.global.defaultFontSize = 12;

    var fileData = {
      labels: [{% for item in labels %}
       "{{ item }}",
      {% endfor %}],
      datasets: [{
        fillColor: "rgba(135, 217, 153, 1)",
        label: "Filesystem Load",
        data: [{% for item in values %}
           "{{ item }}",
          {% endfor %}],
          // lineTension: 0,
        // fill: 'rgba(135, 217, 153, 1)]',
        // fill: false,
        borderColor: 'rgba(58, 166, 82, 1)',
        backgroundColor: 'rgba(135, 217, 153, 1)',
        pointBorderColor: 'rgba(57, 162, 80, 1)',
        // pointBackgroundColor: 'rgba(255,150,0,0.5)',
        pointRadius: 5,
        pointHoverRadius: 10,
        pointHitRadius: 30,
        pointBorderWidth: 2,
        pointStyle: 'rectRounded'
      }]
    };

    var chartOptions = {
      legend: {
        display: true,
        position: 'top',
        labels: {
          boxWidth: 20,
          fontColor: 'black'
        }
      }
    };

    var lineChart = new Chart(fileCanvas, {
      type: 'line',
      data: fileData,
      options: chartOptions
    });
    </script>
  </center>

  <center>
    <div class="btn-primary">
      <button id="home" class="button" onclick="self.location.href='http://127.0.0.1:5000/'">Homepage</button>
      <button id="memChart" class="button" onclick="self.location.href='http://127.0.0.1:5000/memChart'">Memory Usage Chart</button>
      <button id="cpuChart" class="button" onclick="self.location.href='http://127.0.0.1:5000/cpuChart'">CPU Usage Chart</button>
    </div>
  </center>
</body>

</html>
