<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- auto refresh homepage every 15 seconds -->
    <meta http-equiv="refresh" content="15">
</head>

<header>
    <code>
    <center>
        <br>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/Logo-Goethe-University-Frankfurt-am-Main.svg/2362px-Logo-Goethe-University-Frankfurt-am-Main.svg.png" height="104" width="220">
        <h1> Welcome to A-Bench</h1>
        <h2> Last update: {{ time }}</h2>
    </center>
    </code>
</header>

<section-left>
    <div class="column">
        <code>
        <div class="column-center">
          <h5 align="center">Setup</h5>
          <div class="btn-primary">
            <button id="activateScripts" class="button" onclick="self.location.href='http://127.0.0.1:5000/activateScripts'">Activate scripts</button>
            <button id="checkPreRequirements" class="button" onclick="self.location.href='http://127.0.0.1:5000/checkPreRequirements'">Check requirements</button>
            <button id="setup_the_environment" class="button" onclick="self.location.href='http://127.0.0.1:5000/setup_the_environment'">Setup the environment</button>
            <button id="deploy_a_bench_infrastructure" class="button" onclick="self.location.href='http://127.0.0.1:5000/deploy_a_bench_infrastructure'">Deploy A-Bench infrastructure</button>
            <button id="minikubeDashboard"class="button" onclick="self.location.href='http://127.0.0.1:5000/minikubeDashboard'">Minikube dashboard</button>
          </div>
        </div>
        <div class="column-center">
            <h4 align="center">Run the experiments</h4>
            <div class="btn-primary">
              <button id="config"class="button" onclick="self.location.href='http://127.0.0.1:5000/config'">Configuration</button>
              <button id="run_a_sample_experiment" class="button" onclick="self.location.href='http://127.0.0.1:5000/run_a_sample_experiment'">Run a sample experiment</button>
            </div>
        </div>
        <div class="column-center">
            <h4 align="center">Analyse</h4>
            <div class="btn-primary">
              <button id="prepare_results"class="button" onclick="self.location.href='http://127.0.0.1:5000/prepare_results'">Prepare results</button>
              <button id="csv_from_excel" class="button" onclick="self.location.href='http://127.0.0.1:5000/csv_from_excel'">Generate CSVs</button>
              <button id="config_txt" class="button" onclick="self.location.href='http://127.0.0.1:5000/config_txt'">Config TXT</button>
              <button id="cpuChart" class="button" onclick="self.location.href='http://127.0.0.1:5000/cpuChart'">CPU Usage Chart</button>
              <button id="memChart" class="button" onclick="self.location.href='http://127.0.0.1:5000/memChart'">Memory Usage Chart</button>
              <button id="fileChart" class="button" onclick="self.location.href='http://127.0.0.1:5000/fileChart'">Filesystem Usage Chart</button>
            </div>
        </div>
      </code>
    </div>
</section-left>

<body>
<div id="textbox">
    <textarea rows="25" cols="65">
      {{ content }}
    </textarea>
    <!-- <script type="text/javascript">
    function refreshPage () {
      var page_y = document.getElementsByTagName("body")[0].scrollTop;
      window.location.href = window.location.href.split('?')[0] + '?page_y=' + page_y;
    }
  </script> -->
</div>
</body>

<!--
<section-right>
  <div class="column">

    <div class="column-center">
        <button id="barCPUusage" class="button" onclick="self.location.href='http://127.0.0.1:5000/barCPUusage'">CPU Usege chart</button>
    </div>
    <div class="column-center">
        <button id="barMemoryUsage" class="button" onclick="self.location.href='http://127.0.0.1:5000/barMemoryUsage'">Memory Usege chart</button>
      </div>
    <div class="column-center">
        <button id="barFilesystemUsage" class="button" onclick="self.location.href='http://127.0.0.1:5000/barFilesystemUsage'">Filesystem Usege chart</button>
</div>
    </div>
</section-right> -->

<footer>
    <center>

        <div id="allButFooter">
            <footer id="footnotes" class="col-sm-9" style="position: fixed; bottom: 0; width: 100%;">
                <strong class="Copy">Copyright © 2019</strong>
                <strong class="spacer"> | </strong>
                <strong class="master">Master Thesis Project</strong>
                <strong class="spacer"> | </strong>
                <strong class="Name">Vasil Radushev</strong>
                <strong class="spacer"> | </strong>
                <strong class="uni">DBIS</strong>
                <strong class="spacer"> | </strong>
                <strong class="uni">Goethe University Frankfurt</strong>
                <br>
                <small>GitLab: <a href="https://gitlab.com/o7ka4aln1ka/bigbench2_master/">BigBench2</a>.</small>
            </footer>
        </div>
    </center>
</footer>

</html>
