<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<header>
    <code>
    <center>
        <br>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/Logo-Goethe-University-Frankfurt-am-Main.svg/2362px-Logo-Goethe-University-Frankfurt-am-Main.svg.png" height="104" width="220">
        <h1> Welcome to A-Bench</h1>
        <h2> Last update: {{ time }}</h2>
    </center>
    </code>
</header>

<section-left>
    <div class="column">
        <code>
        <div class="column-center">
          <h5 align="center">Setup</h5>
          <div class="btn-primary">
            <button id="activateScripts" class="button" onclick="self.location.href='http://127.0.0.1:5000/activateScripts'">Activate scripts</button>
            <button id="checkPreRequirements" class="button" onclick="self.location.href='http://127.0.0.1:5000/checkPreRequirements'">Check requirements</button>
            <button id="prepStartSpark" class="button" onclick="self.location.href='http://127.0.0.1:5000/prepStartSpark'">Prep-start-spark</button>
            <button id="startMinikube" class="button" onclick="self.location.href='http://127.0.0.1:5000/startMinikube'">Start minikube</button>
            <button id="minikubeDashboard"class="button" onclick="self.location.href='http://127.0.0.1:5000/minikubeDashboard'">Minikube dashboard</button>
            <button id="stopMinikube"class="button" onclick="self.location.href='http://127.0.0.1:5000/stopMinikube'">Stop minikube</button>
          </div>
        </div>
        <div class="column-center">
            <h4 align="center">Run</h4>
            <div class="btn-primary">
              <button id="activateScripts" class="button" onclick="self.location.href='http://127.0.0.1:5000/activateScripts'">Activate scripts</button>
              <button id="checkPreRequirements" class="button" onclick="self.location.href='http://127.0.0.1:5000/checkPreRequirements'">Check requirements</button>
              <button id="prepStartSpark" class="button" onclick="self.location.href='http://127.0.0.1:5000/prepStartSpark'">Prep-start-spark</button>
              <button id="startMinikube" class="button" onclick="self.location.href='http://127.0.0.1:5000/startMinikube'">Start minikube</button>
              <button id="minikubeDashboard"class="button" onclick="self.location.href='http://127.0.0.1:5000/minikubeDashboard'">Minikube dashboard</button>
              <button id="stopMinikube"class="button" onclick="self.location.href='http://127.0.0.1:5000/stopMinikube'">Stop minikube</button>
            </div>
        </div>
        <div class="column-center">
            <h4 align="center">Analyse</h4>
            <div class="btn-primary">
              <button id="activateScripts" class="button" onclick="self.location.href='http://127.0.0.1:5000/activateScripts'">Activate scripts</button>
              <button id="checkPreRequirements" class="button" onclick="self.location.href='http://127.0.0.1:5000/checkPreRequirements'">Check requirements</button>
              <button id="prepStartSpark" class="button" onclick="self.location.href='http://127.0.0.1:5000/prepStartSpark'">Prep-start-spark</button>
              <button id="startMinikube" class="button" onclick="self.location.href='http://127.0.0.1:5000/startMinikube'">Start minikube</button>
              <button id="minikubeDashboard"class="button" onclick="self.location.href='http://127.0.0.1:5000/minikubeDashboard'">Minikube dashboard</button>
              <button id="stopMinikube"class="button" onclick="self.location.href='http://127.0.0.1:5000/stopMinikube'">Stop minikube</button>
            </div>
        </div>
      </code>
    </div>
</section-left>

<section-right>
    <div class="column-center">
        <button id="bar" class="button" onclick="self.location.href='http://127.0.0.1:5000/bar'">Charts</button>
    </div>
</section-right>

<footer>
    <center>

        <div id="allButFooter">
            <footer id="footnotes" class="col-sm-9" style="position: fixed; bottom: 0; width: 100%;">
                <strong class="Copy">Copyright © 2019</strong>
                <strong class="spacer"> | </strong>
                <strong class="master">Master Thesis Project</strong>
                <strong class="spacer"> | </strong>
                <strong class="Name">Vasil Radushev</strong>
                <strong class="spacer"> | </strong>
                <strong class="uni">DBIS</strong>
                <strong class="spacer"> | </strong>
                <strong class="uni">Goethe University Frankfurt</strong>
                <br>
                <small>GitLab: <a href="https://gitlab.com/o7ka4aln1ka/bigbench2_master/">BigBench2</a>.</small>
            </footer>
        </div>
    </center>
</footer>

</html>
