code {
  background: #A8E7EF;
  border-radius: 25px;
  display: block;
  padding: 12px 12px 12px 12px;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

header {
  height: 170px;
  text-align: center;
}

#headerLeft{
  float: left;
  margin: -10px -450px 10px 200px;
}

#headerCenter{
  float: center;
  margin: 10px 0px 10px 0px;
}

#headerRight{
  float: right;
  margin: -80px 80px 10px 5px;
}

h1 {
  font-family: arial;
  color: black;
  font-size: 40px;
  /* display: inline; */
}

h2 {
  color: black;
  font-size: 15px;
  /* display: inline; */
}

h3 {
  align: center;
  color: black;
  font-size: 20px;
}

h4 {
  color: white;
  font-size: 20px;
  text-align: center;
  top: -20px;
}

body {
    background-color: #C2F5FB;
    font-family: arial;
}

/* middle section's settings */
section {
    position: absolute;
    width: 100%;
    top: 165px;
    height: 600px;
    background: #A8E7EF;
    border-radius: 25px;
    padding: 5px 0px 0px 0px;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

textarea {
    position: relative;
    width: 100%;
    top: 605px;
    height: 28px;
    background: #A8E7EF;
    border-radius: 25px;
    padding: 2px 2px 2px 2px;
    text-align: left;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    font-size: 14;
    font-family: arial;
    border-color: transparent;
    font-weight: bold;
    overflow: hidden;
}

aside {
    position: relative;
    width: 100%;
    top: 620px;
    height: 43px;
    background: #A8E7EF;
    border-radius: 25px;
    padding: 2px 2px 2px 2px;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

#leftSection{
  	background-color:#59bfcc;
  	width:45%;
  	float:left;
  	height:600px;
    border-radius: 25px;
  	/* border-right: 1vw solid #F5E5D6; */
    box-sizing: border-box;
    margin: 30px 35px 30px 35px;
    padding:0;
}
#rightSection{
  	background-color:#11181e;
  	width:45%;
  	float:left;
  	height:600px;
    border-radius: 25px;
  	margin: 30px 35px 30px 35px;
  	padding:0;
}

.button-config {
    background-color: #58ADDA;
    border-radius: 5px;
    border: 3px solid #2D6EBD;
    color: black;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    width: 20%;
    display: inline-block;
    margin: 3px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

.column-config {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
  font-size: 12px;
  text-align: left;
}

.button {
    background-color: #58ADDA;
    border-radius: 5px;
    border: 1px solid blue;
    color: black;
    padding: 5px 5px 5px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    width: 15%;
    display: inline-block;
    margin: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

.button:hover {
  background-color: #17A3ED;
}

/* footer's settings */
.footerWrap {
    width: 100%;
    position: fixed;
    bottom: 0px;
}
.footer {
    width: 100%;
    margin: auto;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}
.footerContent {
    float: left;
    width: 100%;
    background-color: #A8E7EF;
    border-radius: 25px;
    padding: 10px 0;
    text-align: center;
}
