code {
  background: #A8E7EF;
  border-radius: 25px;
  display: block;
  padding: 12px 12px 12px 12px;
  text-align: center;
}

header {
  height: 170px;
  text-align: center;
}

#headerLeft{
  float: left;
  margin: -10px -450px 10px 200px;
}

#headerCenter{
  float: center;
  margin: 10px 0px 10px 0px;
}

#headerRight{
  float: right;
  margin: -80px 80px 10px 5px;
}

h1 {
  font-family: arial;
  color: black;
  font-size: 40px;
  /* display: inline; */
}

h2 {
  color: black;
  font-size: 15px;
  /* display: inline; */
}

h3 {
  align: center;
  color: black;
  font-size: 20px;
}

h4 {
  color: white;
  font-size: 20px;
  text-align: center;
  top: -20px;
}

body {
    background-color: #C2F5FB;
    font-family: arial;
}
/* middle section's settings */
main {
    position: absolute;
    width: 100%;
    top: 170px;
    bottom: 100px;
    background: #A8E7EF;
    border-radius: 25px;
    display: inline-block;
    /* padding: 120px 120px 120px 120px; */
    text-align: center;
}

#leftSection{
  	background-color:#59bfcc;
  	width:45%;
  	float:left;
  	height:600px;
    border-radius: 25px;
  	/* border-right: 1vw solid #F5E5D6; */
    box-sizing: border-box;
    margin: 30px 35px 30px 35px;
    padding:0;
}
#rightSection{
  	background-color:#11181e;
  	width:45%;
  	float:left;
  	height:600px;
    border-radius: 25px;
  	margin: 30px 35px 30px 35px;
  	padding:0;
}

/* left section split into 3 colums */
#leftInnerSection{
  	background-color:white;
    border-color: white;
  	width:29%;
  	float:left;
  	height:500px;
    border-radius: 25px;
  	margin: 40px 10px 30px 20px;
  	padding:0;
}

#centerInnerSection{
  	background-color:white;
  	width:29%;
  	float:left;
  	height:500px;
    border-radius: 25px;
  	margin: 40px 10px 30px 10px;
  	padding:0;
}

#rightInnerSection{
  	background-color:white;
  	width:29%;
  	float:left;
  	height:500px;
    border-radius: 25px;
  	margin: 40px 20px 30px 10px;
  	padding:0;
}

/* buttons settings */
.btn-group button {
    background-color: #58ADDA;
    border-radius: 10px;
    border: 3px solid #2D6EBD;
    color: black;
    padding: 12px 12px 12px 12px;
    text-align: center;
    text-decoration: none;
    font-family: arial;
    font-size: 14px;
    cursor: pointer;
    width: 80%;
    display: inline-block;
    margin: 4px;
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #17A3ED;
}

#terminal-textbox{
  color: #00FF00;
  font-family: Monospace;
  font-weight: bold;
  font-size: 12px;
  /* background-color: #46494E; */
  background-color: transparent;
  border-color: transparent;
  height: 550px;
  /* width: 835px; */
  width: 100%;
}

/* footer's settings */
.footerWrap {
    width: 100%;
    position: fixed;
    bottom: 0px;
}
.footer {
    width: 100%;
    margin: auto;
}
.footerContent {
    float: left;
    width: 100%;
    background-color: #A8E7EF;
    border-radius: 25px;
    padding: 20px 0;
    text-align: center;
}
