code {
  background: #A8E7EF;
  border-radius: 25px;
  display: block;
  padding: 12px 12px 12px 12px;
  text-align: center;
}

header {
  height: 170px;
  text-align: center;
}

#headerLeft{
  float: left;
  margin: -10px -450px 10px 200px;
}

#headerCenter{
  float: center;
  margin: 10px 0px 10px 0px;
}

#headerRight{
  float: right;
  margin: -80px 80px 10px 5px;
}

h1 {
  font-family: arial;
  color: black;
  font-size: 40px;
  /* display: inline; */
}

h2 {
  color: black;
  font-size: 15px;
  /* display: inline; */
}

h3 {
  align: center;
  color: black;
  font-size: 20px;
}

h4 {
  color: white;
  font-size: 20px;
  text-align: center;
  top: -20px;
}

body {
    background-color: #C2F5FB;
    font-family: arial;
}

/* middle section's settings */
section {
    position: absolute;
    width: 100%;
    top: 170px;
    bottom: 200px;
    background: #A8E7EF;
    border-radius: 25px;
    /* float: left; */
    /* display: block; */
    /* padding: 120px 120px 120px 120px; */
    text-align: center;
}

aside {
    position: relative;
    width: 100%;
    top: 620px;
    /* bottom: 140px; */
    background: #A8E7EF;
    border-radius: 25px;
    /* display: inline-block; */
    /* padding: 120px 120px 120px 120px; */
    text-align: center;
    /* margin: 0 1.5% 10px 1.5%; */
    float: left;
    display: block;

}

#leftSection{
  	background-color:#59bfcc;
  	width:45%;
  	float:left;
  	height:600px;
    border-radius: 25px;
  	/* border-right: 1vw solid #F5E5D6; */
    box-sizing: border-box;
    margin: 30px 35px 30px 35px;
    padding:0;
}
#rightSection{
  	background-color:#11181e;
  	width:45%;
  	float:left;
  	height:600px;
    border-radius: 25px;
  	margin: 30px 35px 30px 35px;
  	padding:0;
}

.button-config {
    background-color: #58ADDA;
    border-radius: 5px;
    border: 3px solid #2D6EBD;
    color: black;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    width: 30%;
    display: inline-block;
    margin: 3px;
    /* position:absolute;
    bottom:0; */
}

#btn-queries {
    /* background-color: #58ADDA; */
    /* border-radius: 5px; */
    /* border: 1px solid blue; */
    color: black;
    padding: 10px 12px;
    text-align: left;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    width: 100%;
    display: inline-block;
    margin: 3px;
}

#btn-queries button:focus,
#btn-queries button:active,
#btn-queries input:active,
#btn-queries input:focus {
    border-color: black;
    border-style: solid;
    background: #58ADDA;
}

#btn-queries button:hover,
#btn-queries input:hover {
    border-color: black;
    border-style: solid;
}

.column-config {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
  font-size: 12px;
  text-align: left;
}

#checkbox-container {
    margin: 10px 5px;
}

#checkbox-container div {
    margin-bottom: 5px;
}

#checkbox-container button {
    margin-top: 5px;
}

/* buttons settings */
.btn-group-horizontal button {
    background-color: #58ADDA;
    border-radius: 5px;
    border: 3px solid #2D6EBD;
    color: black;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    width: 30%;
    display: inline-block;
    margin: 3px;
}

.btn-group-horizontal button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group-horizontal button:hover {
  background-color: #17A3ED;
}

/* footer's settings */
.footerWrap {
    width: 100%;
    position: fixed;
    bottom: 0px;
}
.footer {
    width: 100%;
    margin: auto;
}
.footerContent {
    float: left;
    width: 100%;
    background-color: #A8E7EF;
    border-radius: 25px;
    padding: 20px 0;
    text-align: center;
}
