<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
   </head>

   <body>
      <h1>Welcome to BigBench2</h1>
      <h2>The start time is: {{ time }}</h2>

<input type="button" name="lien1" value="activate scripts"
 onclick="self.location.href='http://127.0.0.1:5000/activatescripts'" style="background-color:#668fff"
style="color:white; font-weight:bold"onclick>

<input type="button" name="lien1" value="start minikube"
 onclick="self.location.href='http://127.0.0.1:5000/startminikube'" style="background-color:#3cb371"
style="color:white; font-weight:bold"onclick>

<input type="button" name="lien2" value="minikube dashboard"
 onclick="self.location.href='http://127.0.0.1:5000/minikubedashboard'" style="background-color:#1ab171"
style="color:white; font-weight:bold"onclick>

<input type="button" name="lien2" value="stop minikube"
onclick="self.location.href='http://127.0.0.1:5000/stopminikube'" style="background-color:#1ab171"
style="color:white; font-weight:bold"onclick>

   </body>
</html>
