<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
   </head>

   <body>
      <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Goethe_University_logo.jpg" height="104" width="220">
      <h1>Welcome to BigBench2</h1>
      <h2>The start time is: {{ time }}</h2>

<input type="button" name="lien1" value="Activate scripts"
 onclick="self.location.href='http://127.0.0.1:5000/activateScripts'" style="background-color:#668fff"
style="color:white; font-weight:bold"onclick>

<input type="button" name="lien1" value="Check pre-requirements"
onclick="self.location.href='http://127.0.0.1:5000/checkPreRequirements'" style="background-color:#668fff"
style="color:white; font-weight:bold"onclick>

<input type="button" name="lien1" value="Prep-start-spark"
 onclick="self.location.href='http://127.0.0.1:5000/prepStartSpark'" style="background-color:#668fff"
style="color:white; font-weight:bold"onclick>

<input type="button" name="lien1" value="Start minikube"
 onclick="self.location.href='http://127.0.0.1:5000/startMinikube'" style="background-color:#668fff"
style="color:white; font-weight:bold"onclick>

<input type="button" name="lien2" value="Minikube dashboard"
 onclick="self.location.href='http://127.0.0.1:5000/minikubeDashboard'" style="background-color:#668fff"
style="color:white; font-weight:bold"onclick>

<input type="button" name="lien2" value="Stop minikube"
onclick="self.location.href='http://127.0.0.1:5000/stopMinikube'"
style="background-color:#668fff"
style="color:white; font-weight:bold"onclick>

   </body>
</html>
