<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js'></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/balloon-css/0.5.0/balloon.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-charts-v2.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <!-- testing zoom in and out -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.0"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://npmcdn.com/Chart.Zoom.js@0.3.0/Chart.Zoom.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>

</head>

<body>
<header>
    <code>
      <br>
      <div id="headerLeft">
        <img src="/static/Logo-Goethe-University-Frankfurt-am-Main.svg.png" width="200" height="120" onclick="parent.open('http://www.goethe-university-frankfurt.de/en?locale=en')">
      </div>
      <div id="headerCenter">
        <h1>ABench Management Console</h1>
        <h2>Last update: {{ time }}</h2>
      </div>
      <div id="headerRight">
        <img src="/static/big-data-lab-banner.jpg" width="350" height="60" onclick="parent.open('http://www.bigdata.uni-frankfurt.de/')">
      </div>
    </code>
</header>

<section>
    <center>

      <div class="fileChartDiv">
      <canvas id="fileChart" width="250" height="75"></canvas>
      <h2>Duration: {{ duration }} minutes</h2>

      <!-- <button class="button" onClick="window.location.reload();">Reset Zoom</button> -->
      <!-- <button onclick="resetZoom()">Reset Zoom</button> -->
  		<!-- <button id="drag-switch" onclick="toggleDragMode()">Disable drag mode</button> -->
      </div>

      <script type="text/javascript">
      var fileCanvas = document.getElementById("fileChart");
      steps = 10
      max = {{max}}

      Chart.defaults.global.defaultFontFamily = "Lato";
      Chart.defaults.global.defaultFontSize = 12;

      var fileData = {
        labels: [{% for item in labels %}
         "{{ item }}",
        {% endfor %}],
        datasets: [{
          fillColor: "rgba(135, 217, 153, 1)",
          label: "Filesystem Load",
          data: [{% for item in values %}
             "{{ item }}",
            {% endfor %}],
          // fill: true;
          borderColor: 'rgba(58, 166, 82, 1)',
          backgroundColor: 'rgba(135, 217, 153, 1)',
          pointBorderColor: 'rgba(57, 162, 80, 1)',
          // pointBackgroundColor: 'rgba(255,150,0,0.5)',
          pointRadius: 5,
          pointHoverRadius: 10,
          pointHitRadius: 20,
          pointBorderWidth: 2,
          pointStyle: 'rectRounded'
        }]
      };

      var lineChart = new Chart(fileCanvas, {
        zoomEnabled: true,
        type: 'line',
        data: fileData,
        // options: chartOptions
        options: {
          responsive: true,
          legend: {
              display: true,
              position: 'top',
              labels: {
                boxWidth: 20,
                fontColor: 'black'
              }
            },
            scales: {
                yAxes: [{
                  scaleLabel: {
                      display: true,
                      labelString: 'Filesystem Load',
                      fontSize: 20,
                      fontFamily: 'Lato'
                    },

                    ticks: {
                        beginAtZero:false
                    }
                }],
                xAxes: [{
                  scaleLabel: {
                    display: true,
                    labelString: 'Time',
                    fontSize: 20,
                    fontFamily: 'Lato'
                  }
                }]
            },
            // Container for pan options
            pan: {
                enabled: true,
                mode: 'x'
                // speed: 1
            },

            // Container for zoom options
            zoom: {
                // Boolean to enable zooming
                enabled: true,
                mode: 'xy',
                rangeMin: {
            				// Format of min zoom range depends on scale type
            				x: 0,
            				y: 0
                  },
                  // speed: 10,
                  sensitivity: 5
                  // drag: true
            }
        }
      });

      window.resetZoom = function() {
			window.myLine.resetZoom();
  		};
  		window.toggleDragMode = function() {
  			var chart = window.myLine;
  			var zoomOptions = chart.options.plugins.zoom.zoom;
  			zoomOptions.drag = !zoomOptions.drag;
  			chart.update();
  			document.getElementById('drag-switch').innerText = zoomOptions.drag ? 'Disable drag mode' : 'Enable drag mode';
  		};
  		window.onload = function() {
  			var ctx = document.getElementById('fileChart').getContext('2d');
  			window.myLine = new window.Chart(ctx, lineChart);
  		};

      </script>
    </center>
  </section>

  <aside>
    <button id="memChart" class="button" data-balloon="Chart with memory usage from the last experiment" data-balloon-pos="up" onclick="self.location.href='http://127.0.0.1:5000/memChart'">Memory Usage Chart</button>
    <button id="cpuChart" class="button" data-balloon="Chart with CPU usage from the last experiment" data-balloon-pos="up" onclick="self.location.href='http://127.0.0.1:5000/cpuChart'">CPU Usage Chart</button>
    <button id="config" class="button" data-balloon="Choose which queries to be run in an experiment" data-balloon-pos="up" onclick="self.location.href='http://127.0.0.1:5000/config'">Configuration</button>
    <button id="home" class="button" data-balloon="Go back to homepage" data-balloon-pos="up" onclick="self.location.href='http://127.0.0.1:5000/'">Homepage</button>
  </aside>

  <div class="footerWrap">
      <div class="footer">
          <div class="footerContent">
              <strong class="Copy">Copyright © 2019</strong>
              <strong class="spacer"> | </strong>
              <strong class="master">Master Thesis Project</strong>
              <strong class="spacer"> | </strong>
              <strong class="Name"> <a href="https://www.linkedin.com/in/vasil-radushev-502567113" target="_blank">Vasil Radushev</a></strong>
              <strong class="spacer"> | </strong>
              <strong class="uni"> <a href="http://www.bigdata.uni-frankfurt.de" target="_blank"> Frankfurt Big Data Lab</a></strong>
              <strong class="spacer"> | </strong>
              <strong class="uni">GitHub: <a href="https://github.com/o7ka4aln1ka/a-bench-dashboard" target="_blank">ABench Management Console</a></strong>
          </div>
      </div>
  </div>
</body>

</html>
