<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-homepage-v2.css') }}">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/balloon-css/0.5.0/balloon.min.css"> -->
    <link rel="stylesheet" href="static/css/balloon.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- auto refresh homepage every 30 seconds -->
    <meta http-equiv="refresh" content="30">
</head>

<body>
    <header>
        <code>
        <br>
        <div id="headerLeft">
          <!-- <div class="hvrbox">
          	<img src="/static/Logo-Goethe-University-Frankfurt-am-Main.svg.png" width="200" height="120" onclick="parent.open('http://www.goethe-university-frankfurt.de/en?locale=en')" alt="Mountains" class="hvrbox-layer_bottom">
          	<div class="hvrbox-layer_top">
          		<div class="hvrbox-text">Visit Goethe University's Webpage</div>
          	</div>
          </div> -->
          <img src="/static/Logo-Goethe-University-Frankfurt-am-Main.svg.png" width="200" height="120" onclick="parent.open('http://www.goethe-university-frankfurt.de/en?locale=en')">
        </div>
        <div id="headerCenter">
          <h1>Welcome to A-Bench</h1>
          <h2>Last update: {{ time }}</h2>
        </div>
        <div id="headerRight">
          <!-- <div class="hvrbox">
            <img src="/static/big-data-lab-banner.jpg" width="350" height="60" alt="Mountains" class="hvrbox-layer_bottom" onclick="parent.open('http://www.bigdata.uni-frankfurt.de/')">
            <div class="hvrbox-layer_top">
              <div class="hvrbox-text">Visit Big Data Labs' Webpage</div>
            </div>
          </div> -->
          <img src="/static/big-data-lab-banner.jpg" width="350" height="60" onclick="parent.open('http://www.bigdata.uni-frankfurt.de/')">
        </div>
    </code>
    </header>

    <section>
        <div id="leftSection">
            <div id="leftInnerSection">
                <h3>Setup</h3>
                <div class="btn-group">
                    <button id="activateScripts" data-balloon="Makes all necessary scripts executable" data-balloon-pos="right" onclick="self.location.href='http://127.0.0.1:5000/activateScripts' ">Activate scripts</button>
                    <!-- <button id="installRequirements" data-balloon="Whats up!" data-balloon-pos="up" onclick="self.location.href='http://127.0.0.1:5000/installRequirements'">Install requirements</button> -->
                    <button id="checkPreRequirements" data-balloon="Checks if all necessary tools are installed and available" data-balloon-pos="right" onclick="self.location.href='http://127.0.0.1:5000/checkPreRequirements'">Check requirements</button>
                    <button id="setup_environment" data-balloon="Setups the environment like starting cat, curl, docker, helm, kubectl, virtualbox, minikube etc. " data-balloon-pos="right" onclick="self.location.href='http://127.0.0.1:5000/setupEnvironment'">Setup the environment</button>
                    <button id="deploy_a_bench_infrastructure" data-balloon="Stars minikube and all other necessary services to run A-Bench" data-balloon-pos="right" onclick="self.location.href='http://127.0.0.1:5000/deploy_a_bench_infrastructure'">Deploy A-Bench infrastructure</button>
                </div>
              </div>

            <div id="centerInnerSection">
                <h3>Run</h3>
                <div class="btn-group">
                    <button id="foo" data-balloon="testing foo" data-balloon-pos="right" onclick="self.location.href='http://127.0.0.1:5000/foo'">testing foo</button>
                    <button id="config" data-balloon="Choose which queries to be run in an experiment" data-balloon-pos="right" onclick="self.location.href='http://127.0.0.1:5000/config'">Configuration</button>
                    <button id="run_a_sample_experiment" data-balloon="Start a single run experiment with one query" data-balloon-pos="right" onclick="self.location.href='http://127.0.0.1:5000/run_a_sample_experiment'">Run a sample experiment</button>
                </div>
            </div>
            <div id="rightInnerSection">
                <h3>Analyse</h3>
                <div class="btn-group">
                    <button id="prepare_results" data-balloon="Extracts the data needed for all charts from the last experiment" data-balloon-pos="left" onclick="self.location.href='http://127.0.0.1:5000/prepare_results'">Prepare results</button>
                    <button id="cpuChart" data-balloon="Chart with CPU usage from the last experiment" data-balloon-pos="left" onclick="self.location.href='http://127.0.0.1:5000/cpuChart'">CPU Usage</button>
                    <button id="memChart" data-balloon="Chart with memory usage from the last experiment" data-balloon-pos="left" onclick="self.location.href='http://127.0.0.1:5000/memChart'">Memory Usage</button>
                    <button id="fileChart" data-balloon="Chart with filesystem usage from the last experiment" data-balloon-pos="left" onclick="self.location.href='http://127.0.0.1:5000/fileChart'">Filesystem Usage</button>
                </div>
            </div>

        </div>
        <div id="rightSection">
            <div id="textbox">
                <h4>Terminal output:</h4>
                <textarea id="terminal-textbox">
                    {{ content }}
                </textarea>
            </div>
    </section>

    <aside>
      <button id="info" class="button" data-balloon="Information about BigBench2" data-balloon-pos="up" onclick="parent.open('https://github.com/t-ivanov/BigBenchV2/blob/master/paper/ICDE2017_BigBenchV2.pdf')" target="_blank">Info about BigBench2</button>
      <button id="home" class="button" data-balloon="Information about the infrastructure" data-balloon-pos="up" onclick="parent.open('https://github.com/FutureApp/a-bench')">Info about the inftrastructure</button>
    </aside>

    <div class="footerWrap">
        <div class="footer">
            <div class="footerContent">
                <strong class="Copy">Copyright © 2019</strong>
                <strong class="spacer"> | </strong>
                <strong class="master">Master Thesis Project</strong>
                <strong class="spacer"> | </strong>
                <strong class="Name">Vasil Radushev</strong>
                <strong class="spacer"> | </strong>
                <strong class="uni">Goethe University Frankfurt</strong>
                <strong class="spacer"> | </strong>
                <strong class="uni">GitHub: <a href="https://github.com/o7ka4aln1ka/a-bench-dashboard">A-Bench-Dashboard</a>.</strong>
            </div>
        </div>
    </div>
</body>

</html>
