<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js'></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/balloon-css/0.5.0/balloon.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-charts-v2.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
  <header>
      <code>
        <br>
        <div id="headerLeft">
          <img src="/static/Logo-Goethe-University-Frankfurt-am-Main.svg.png" width="200" height="120" onclick="parent.open('http://www.goethe-university-frankfurt.de/en?locale=en')">
        </div>
        <div id="headerCenter">
          <h1>Welcome to A-Bench</h1>
          <h2>Last update: {{ time }}</h2>
        </div>
        <div id="headerRight">
          <img src="/static/big-data-lab-banner.jpg" width="350" height="60" onclick="parent.open('http://www.bigdata.uni-frankfurt.de/')">
        </div>
      </code>
  </header>

  <section>
    <center>

      <canvas id="memChart" width="240" height="82"></canvas>
      <script type="text/javascript">
      var memCanvas = document.getElementById("memChart");
      steps = 10
      max = {{max}}

      Chart.defaults.global.defaultFontFamily = "Lato";
      Chart.defaults.global.defaultFontSize = 12;

      var memData = {
        labels: [{% for item in labels %}
         "{{ item }}",
        {% endfor %}],
        datasets: [{
          // fillColor: "rgba(135, 217, 153, 1)",
          label: "Memory Load",
          data: [{% for item in values %}
             "{{ item }}",
            {% endfor %}],
          fill: true,
          borderColor: 'rgba(27, 84, 177, 1)',
          backgroundColor: 'rgba(113, 159, 234, 1)',
          pointBorderColor: 'rgba(17, 55, 115, 1)',
          // pointBackgroundColor: 'rgba(255,150,0,0.5)',
          pointRadius: 5,
          pointHoverRadius: 10,
          pointHitRadius: 20,
          pointBorderWidth: 2,
          pointStyle: 'rectRounded'
        }]
      };

      var chartOptions = {
        legend: {
          display: true,
          position: 'top',
          labels: {
            boxWidth: 20,
            fontColor: 'black'
          }
        },
        scales: {
          yAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Memory Load',
              fontSize: 20,
              fontFamily: 'Lato'
            }
          }],
          xAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Time',
              fontSize: 20,
              fontFamily: 'Lato'
            }
          }]
          }
      };

      var lineChart = new Chart(memCanvas, {
        type: 'line',
        data: memData,
        options: chartOptions
      });
      </script>

      <style>
      memCanvas {backgroundColor: 'rgba(255,0,0,255)'}
      </style>

    </center>
  </section>

  <aside>
    <button id="cpuChart" class="button" data-balloon="Chart with CPU usage from the last experiment" data-balloon-pos="up" onclick="self.location.href='http://127.0.0.1:5000/cpuChart'">CPU Usage Chart</button>
    <button id="fileChart" class="button" data-balloon="Chart with filesystem usage from the last experiment" data-balloon-pos="up" onclick="self.location.href='http://127.0.0.1:5000/fileChart'">Filesystem Usage Chart</button>
    <button id="config" class="button" data-balloon="Choose which queries to be run in an experiment" data-balloon-pos="right" onclick="self.location.href='http://127.0.0.1:5000/config'">Configuration</button>
    <button id="home" class="button" data-balloon="Go back to homepage" data-balloon-pos="up" onclick="self.location.href='http://127.0.0.1:5000/'">Homepage</button>
  </aside>

  <div class="footerWrap">
      <div class="footer">
          <div class="footerContent">
              <strong class="Copy">Copyright © 2019</strong>
              <strong class="spacer"> | </strong>
              <strong class="master">Master Thesis Project</strong>
              <strong class="spacer"> | </strong>
              <strong class="Name">Vasil Radushev</strong>
              <strong class="spacer"> | </strong>
              <strong class="uni">Goethe University Frankfurt</strong>
              <strong class="spacer"> | </strong>
              <strong class="uni">GitHub: <a href="https://github.com/o7ka4aln1ka/a-bench-dashboard">A-Bench-Dashboard</a>.</strong>
          </div>
      </div>
  </div>
</body>

</html>
